*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #1E1E1E; /* ✔ instead of image */
  color: white;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative; /* ✔ dagdag */
  /* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(176, 174, 174, 1);
  height: 0px;
  border-radius: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: rgba(104, 104, 104, 1);
}

}

/* Header */
header {
  padding: 11px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1000;
}

header .logo {
  color: #4da6ff;
  font-size: 1.8rem;
  font-weight: bold;
}

header h2 {
  color: #4da6ff;
  animation: fadeIn 2s ease forwards;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  align-items: center;
  
  background: #1E1E1E;
  backdrop-filter: blur(10px);
  
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-around;
  padding: 10px 0 30px;
  z-index: 50;
}

.bottom-nav a {
  text-decoration: none;
  color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  
}

.bottom-nav a i {
  font-size: 18px;
  margin-bottom: 3px;
}

/* ACTIVE STATE */
.bottom-nav a.active {
  color: #00c853;
  transform: translateY(-2px);
}


/* Hero */
.home-hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-content {
  animation: zoomIn 1s ease forwards;
}
.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: slideUp 1s ease forwards;
}
.hero-content h2 {
  font-size: 1rem;
  margin-bottom: 20px;
  animation: slideUp 1s ease forwards;
}
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ddd;
  animation: slideUp 1.2s ease forwards;
}
/* Smooth In-Out Scale Animation */
@keyframes inOut {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); } /* lumalaki */
  100% { transform: scale(1); }   /* bumabalik sa original */
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 30px;
  font-size: 17px;
  background: transparent;
  position: relative;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  animation: inOut 2s ease-in-out infinite; /* smooth in-out effect */
}

.btn-primary:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}
/* About */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
  min-height: 80vh;
}

.about-card {
  background: rgba(20, 33, 61, 0.85);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 15px;
  max-width: 420px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  border: 2px solid rgba(255, 255, 255, 0.2); /* 👈 stroke */
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.role {
  color: #fca311;
  font-size: 14px;
  margin-bottom: 10px;
}

.desc {
  font-size: 13px;
  color: #ddd;
  margin-bottom: 15px;
}

.skills-section {
  margin-top: 20px;
}

.skills-section h2 {
  color: #fca311;
  margin-bottom: 15px;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

/* CARD */
.skill-card {
  background: rgba(30, 30, 30, 0.8);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.skill-card:hover {
  background: rgba(0, 200, 83, 0.1);
}

/* ICON BASE */
.skill-card i {
  font-size: 28px;
  margin-bottom: 8px;
}

/* TITLE */
.skill-card h3 {
  margin: 5px 0;
  font-size: 14px;
  color: #fff;
}

/* DESCRIPTION */
.skill-card p {
  font-size: 11px;
  color: #aaa;
}

/* HTML CARD */
.skill-card.html {
  background: rgba(228, 77, 38, 0.12);
}
.skill-card.html i {
  color: #e44d26;
}

/* CSS CARD */
.skill-card.css {
  background: rgba(38, 77, 228, 0.12);
}
.skill-card.css i {
  color: #264de4;
}

/* JS CARD */
.skill-card.js {
  background: rgba(247, 223, 30, 0.12);
}
.skill-card.js i {
  color: #f7df1e;
}

/* APK / TOOLS CARD */
.skill-card.apk {
  background: rgba(0, 200, 83, 0.12);
}
.skill-card.apk i {
  color: #00c853;
}

.about-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.about-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 48px;
  height: 48px;
  border-radius: 50%;

  color: #fff;
  font-size: 20px;
  text-decoration: none;

  transition: 0.3s;
}
.about-social a i {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  font-size: 20px;
  text-decoration: none;

  transition: 0.3s;
}

/* Colors per platform */
.about-social a:nth-child(1) {
  background: #1877f2; /* Facebook */
}

.about-social a:nth-child(2) {
  background: #0088cc; /* Telegram */
}

.about-social a:nth-child(3) {
  background: #ff0000; /* YouTube */
}

/* Hover effect */
.about-social a:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Contact */
.contact-form {
  padding: 80px 20px;
  text-align: center;
}

.contact-form form {
  width: 100%;
  max-width: 420px;
  background: rgba(20, 33, 61, 0.85);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* TITLE */
.contact-form h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #fca311;
}

/* INPUT STYLE */
.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1e1e1e;
  color: white;
  font-size: 14px;
}

/* TEXTAREA FIX */
.contact-form textarea {
  resize: none;
  min-height: 120px;
}

/* LABEL */
.contact-form label {
  font-size: 13px;
  color: #ccc;
  margin-top: 5px;
}

/* BUTTON */
.contact-form button {
  background: #00c853;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.contact-form button:hover {
  background: #00b44a;
  transform: scale(1.02);
}
/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: #aaa;
  margin-top: 50px;
  animation: fadeIn 2s ease forwards;
}

/* =========================
   APKPURE STYLE UPGRADE
========================= */

/* categories bar */
.categories {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 15px;
  margin-top: 10px;
}

.categories button {
  background: #3D3D3D;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 13px;
  white-space: nowrap;
}

.download-section {
  background: #141414;   /* 👉 isang background lang */
  margin: 1px;
  padding: 15px;
  border-radius: 2px;

  display: grid;
  grid-auto-flow: column; 
  grid-template-rows: repeat(3, auto);
  
  gap: 12px;

  overflow-x: auto;   /* 👉 swipe left/right */
  scroll-snap-type: x mandatory;
  /* width */
}

.categories button.active {
  background: #00c853;
  color: #fff;
}

.download-card {
  width: 320px;   /* important para pahaba */
  flex: 0 0 auto;

  display: flex;
  align-items: center;
  gap: 12px;

  scroll-snap-align: start;

  padding: 12px;
  border-radius: 12px;
}

/* icon fix */
.download-card img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  margin: 0;
}

/* app info alignment */
.download-card h3 {
  font-size: 15px;
  margin: 0;
}

.download-card p {
  font-size: 12px;
  color: #ccc;
}

/* download button */
.download-btn {
  background: #00c853;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  white-space: nowrap;
}

.download-btn:hover {
  background: #00b44a;
}

/* SEARCH STYLE (APK feel) */
#searchBox {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #1e1e1e;
  color: white;
}

.search-section {
  text-align: center;
  margin: 20px 0;
}

#searchBox {
  margin-bottom: 200px;
  width: 90%;
  max-width: 400px;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

#searchBox:focus {
  border-color: #00c835;
  box-shadow: 0 0 5px #00c835;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 998;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

* {
    -webkit-tap-highlight-color: transparent;
}

button:focus,
a:focus {
    outline: none;
    box-shadow: none;
}